{% extends 'base.html' %}

{% block title %}
{{ article.id }}
{% endblock %}

{% block body %}
<div class="container mt-5">
  <h1>{{ article.title }}</h1>

  <div class="alert alert-info">
    <p>Заявитель: {{ article.responsible }} {{ task.requestorname }}
    <p>Направление счета: {{ article.direction }}</p>
    <p>Компания плательщик: {{ article.payer }}</p>
    <p>Вид оплаты: {{ article.paymenttype }}</p>
    <p>Номер заказа на закупку: {{ article.porderno }}</p>
    <p>номер счета: {{ article.invoice }}</p>
    <p>Дата счета {{ article.invdate }}</p>
    <p>Сумма счета с НДС: {{ article.amount }} {{ article.currency }}
    <p>Отдел (центр затрат): {{ article.dept }}</p>
    <p>Номер зарегистрированного контракта:  {{ article.contract }}</p>
    <p>Поставщик: {{ article.inn }} {{ article.vendorname }}</p>
    <p>Тип задачи: {{ task.descr }}</p>
    <p>Комментарий заявителя: {{ task.scomment }}</p>

    <span class="files">
		{% for e in files %}
		<a href="/download/{{ article.id }}/{{ e.filename }}">{{ e.filename }}</a><br>

		{% endfor %}
	</span>
    <form class="form-inline" action="" method="post" enctype="multipart/form-data">
      <br>
        <div class="form-group">
        <label for="acomment">Комментарий для заявителя</label>
        <input type="text" class="form-control" id="acomment" name="acomment" >
      </div><br>
        <input type="submit" class="btn btn-warning" name="action" value="Утвердить">
        <input type="submit" class="btn btn-danger" name="action" value="Отказать">
    </form>

    <!--a href="/posts/{{ article.id }}/{{ task.id }}/approve" class="btn btn-warning">Утвердить</a>
    <a href="/posts/{{ article.id }}/{{ task.id }}/refuse" class="btn btn-danger">Отказать</a--!>
    <br>
  </div>

</div>
{% endblock %}