{% extends 'base.html' %}

{% block title %}
Добавление
{% endblock %}

{% block body %}
{{ super() }}
<div class="container mt-5">
<form action="" method="post" class="form-contact">
	{{ form.hidden_tag() }}
	{% set bcount = namespace(value=0) %}
	{% for field in form if field.name not in ['csrf_token', 'submit'] -%}
		{% if field.label == "Сохранить" %} eeeсохранить!{% endif %}
		{% if field.name == 'action' %}
			{% set bcount.value = bcount.value + 1 %}
			{% if bcount.value > 1 %}
			</p><br>
			{% endif %}
		{% endif %}
		{% if field.name !='action' and field.label != 'Найти' %} <p>
			{% if field.name != 'preapproved' or (field.name == 'preapproved' and current_user.getRole() == 'accounting') %}
					{{ field.label() }}
			{% endif %}
		{% endif %}
		{% if field.errors %}
			{{ field(class="invalid") }}
			<span class="invalid-feedback">
			{% for e in field.errors %}
				{{ e }}
			{% endfor %}
			</span>
		{% else %}
			{% if field.name != 'preapproved' or (field.name == 'preapproved' and current_user.getRole() == 'accounting') %}
				{{ field() }}
			{% endif %}
		{% endif %}
		{% if field.name == 'action' and bcount.value < 2 %}
			<a href="/modal">Поиск</a>
		{% endif %}
	{% endfor %}

<!--
	<div class="file-load">
			<p><input type="file" name="files" multiple>
		</div>
--!>
        <!--{{ form.submit() }}--!>
    </form>
	<p>
	<div class="flash success">Файлы необходимо приложить позже нажав "Детальнее" на созданной заявке.</div>
	</p>
</div>
{% endblock %}