{% extends 'base.html' %}

{% block body %}
        {% if current_user.is_authenticated %}
            {% if tasks != None and tasks|length>0 %}
            <div class="container mt-5">
              <h2>Ваши задачи ( {{ tasks|length }} )</h2>
              {% for el in tasks %}
              <div class="alert alert-info">
                <a href="/approve/{{ el.prid }}/{{ el.id }}" class="btn btn-warning">Детальнее</a>
                  {{ el.prid }}/{{ el.id }} | {{ el.tasktype }} | {{ el.dept }} | {{ el.paymenttype }} | {{ el.amount }} {{ el.currency }} | {{ el.vendorname }} | {{ el.name }}
              </div>
              {% endfor %}
            </div>
            {% endif %}
            <div class="container mt-5">
              <h2>Заявки на оплату ({{articles|length}})</h2>
              {% for el in articles %}
              <div class="alert alert-info">
                <p>№{{ el.id }}. Статус "{{ el.status }}" | {{ el.payer }} | {{ el.direction }} | {{ el.inn }} | {{ el.vendorname }} |
                {{ el.dept }} | {{ el.amount }} {{ el.currency }} | Дата счета: {{ el.invdate }}</p>
                <a href="/posts/{{ el.id }}" class="btn btn-secondary">Детальнее</a>
                  {% if userrole == 'accounting' %}
                <a href="/accpost/{{ el.id }}" class="btn btn-primary">Ввести проводку</a>
                {% endif %}
                {% if el.status == "Черновик" %}
                  <a href="/attachments/{{ el.id }}" class="btn btn-secondary">Управлять вложениями</a>
                  <!--<a href="/attachments/{{ el.id }}" class="btn btn-warning">Управлять вложениями</a>
                   <a href="/posts/{{ el.id }}" class="btn btn-warning">Отправить на согласование</a>
                   --!>
                  {% endif %}
              </div>
              {% endfor %}
            </div>
          {% else %}
            <div class="container mt-5">
            <h1>Для работы нужно
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/login">авторизоваться</a>
                </h1>
            </div>
          {% endif %}

{% endblock %}