{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<div class="container mt-5">
    <h1>Аутентификация</h1>
    <form action="" method="post">
        <p><label>login: </label>   <input type="text" name="login" value="" requied />
        <p><label>Пароль: </label>  <input type="password" name="psw" value="" requied />
        <p><input type="checkbox" name="remainme" /> Запомнить меня
        <p><input type="submit" value="Войти" />
        <hr align=left width="3000px">
        <p><a href="{{url_for('register')}}">Регистрация</a>
    </form>
</p></div>
{% endblock %}