{% extends 'base.html' %}

{% block title %}
PR План платежей
{% endblock %}

{% block body %}
        {% if current_user.is_authenticated %}
      <div class="container mt-5">
            <form method="post">
        <label for="payer">Юридическое лицо:</label>
        <select id="payer" name="payer" ">
          <option value="Все" {% if fparams.le != "SMO" and fparams.le != "SK" and fparams.le != "SST" %}selected {% endif %}>Все</option>
          <option value="Стоков Машинное Оборудование АО" {% if fparams.le == "SMO" %}selected {% endif %}>Стоков Машинное Оборудование АО</option>
          <option value="Стоков Компоненты ООО" {% if fparams.le == "SK" %}selected {% endif %}>Стоков Компоненты ООО</option>
          <option value="Стоков Конструкция ООО" {% if fparams.le == "SST" %}selected {% endif %}>Стоков Конструкция ООО</option>
        </select>
        <label for="sorting">Сортировка:</label>
        <select id="sorting" name="sorting" >
          <option value="Дата планируемая платежа" {% if fparams.OrderBy != "Дата платежа планируемая" %} selected {% endif %}>Дата платежа планируемая</option>
          <option value="Получатель платежа" {% if fparams.OrderBy == "Получатель платежа" %} selected {% endif %}>Получатель платежа</option>
        </select>
        <!--input type="submit" class="btn btn-secondary btn-sm" value="Выбрать"--!>
        <br>
        <label for="prno">Номер заказа на закупку</label>
        <input type="text" class="fo rm-control" id="prno" name="prno" placeholder="Номер PR или пусто" value={{fparams.prno}}>
        <label for="trno">Номер проводки</label>
        <input type="text" class="fo rm-control" id="trno" name="trno" placeholder="Номер проводки 1с" value="{{ fparams.trno }}">
      <!--/div><br>
      <div class="container mt-5"--!>
        <label for="date1">Срок оплаты с </label>
        <input type="date" id="date1" name="date1" value={{ date1 }} required pattern="\d{4}-\d{2}-\d{2}" placeholder="с">
        <label for="date2"> по </label>
        <input type="date" id="date2" name="date2" value={{date2}} required pattern="\d{4}-\d{2}-\d{2}" placeholder="по">
       <input type="submit" class="btn btn-secondary btn-sm" value="Показать">
        <!--a href="/payments?date1={{ date1 }}" class="btn btn-secondary btn-sm">Фильтровать</a--!>
            </form>
      </div>
            <div class="container mt-2">
              <h4>Платежи ({{articles|length}})</h4>
            </div>
              <div class="alert alert-info">
              <table class="table table-bordered"><!-- class="table table-hover"table table-sm--!>
              <!--thead class="thead-dark" --!>
              <thead>
                <th>№</th><th>Номер</th><th>Cрок оплаты</th><th>Юрлицо</th><th>Клиент</th><th>Сумма</th><th>Комментарий бухгалтера</th><th>Вложения</th>
                </th></thead>
              {% for el in articles %}
              <tr>
                <td>{{ el.id }}</td>
                <td>{{ el.trno }}</td><td>{{ el.plandate }}</td>
                <td>{{ el.payer }}</td><td>{{ el.vendorname }}</td>
                <td align="right">{{ el.amount }} {{ el.currency }}</td>
                <td>{% if el.acomment != None %} {{ el.acomment }} {% endif %}</td>
                <td>({{ el.nfiles }}) {% if el.nfiles>0 %}<a href="/download/{{ el.id }}/{{ el.file1 }}" target="_blank">{{ el.file1 }}</a> {% if el.file1 != el.file2 %} <br>
                  <a href="/download/{{ el.id }}/{{ el.file2 }}" target="_blank">{{ el.file2 }}</a> {% endif %}{% endif %}</td>

                <td><a href="/paymentpost/{{ el.id }}" class="btn btn-secondary btn-sm">Ввести платеж</a></td>
              </tr>
              {% endfor %}
                </table>
              </div>

          {% else %}
            <div class="container mt-5">
            <h1>Для работы нужно
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/login">авторизоваться</a>
                </h1>
            </div>
          {% endif %}

{% endblock %}