{% extends 'base.html' %}

{% block title %}
 {{ article.id }}
{% endblock %}

{% block body %}
<div class="container mt-5">
  <h1>{{ article.title }}</h1>

  <div class="alert alert-info">
    <p>Запрос:<b> {{ article.id }}</b>. Статус: <b>{{article.status}}</b>. Дата создания: {{ article.CreateDate }}.</p>
    Ответственный: <i>{{ article.responsible }} {{ article.name }} {{ article.email }}</i><br>
    Направление счета: <i>{{ article.direction }}</i><br>
    Компания плательщик: <i>{{ article.payer }}</i><br>
    Вид оплаты: <i>{{ article.paymenttype }}</i><br>
    Номер заказа на закупку: <i>{{ article.porderno }}</i><br>
    номер счета: <i>{{ article.invoice }}</i><br>
    Дата счета: <i>{{ article.invdate }}</i><br>
    Сумма счета с НДС: <i>{{ article.amount }} {{ article.currency }}</i><br>
    Отдел (центр затрат): <i>{{ article.dept }}</i><br>
    Номер зарегистрированного контракта:  <i>{{ article.contract }}</i><br>
    Поставщик: <i>{{ article.inn }} {{ article.vendorname }}</i></br>
        Планируемая дата платежа: <i>{{ article.plandate }}</i></br>
        Фактическая дата платежа: <i>{{ article.paymentdate }}</i></br>
      Комментарий бухгалтера: <i>{{ article.acomment }}</i></br>
      Комментарий платежной группы: <i>{{ article.pcomment }}</i></br>
    <div>
    <fieldset class="card">
        <legend>Приложеные файлы</legend>
   <span class="files">
		{% for e in files %}
		<a href="/download/{{article.id}}/{{ e.filename }}" target="_blank">{{ e.filename }}</a><br>
		{% endfor %}
	</span>
    </fieldset>
      </div>
      <div>
    <span>
        {% set prstatus=namespace(value='1') %}
    <fieldset class="card">
        <legend>Запрошеные одобрения</legend>
		{% for e in tasks %}
        {% if not(e.taskstatus in ('Created', 'Refused')) %}
            {% set prstatus.value ='0' %}
        {% endif %}{{ e.id }}
		{{e.CreateDate}} | {{ e.tasktype }} | {{ e.taskstatus }} | {{ e.assigneemail }} | {{ e.scomment }} | {{ e.acomment }}<br>
		{% endfor %}
    </fieldset>
	</span>
      </div>
    <div>
        <a href="/create-pr?cpy={{ article.id }}" class="btn btn-secondary">Создать на основании</a>
        {% if prstatus.value == '1' or article.status in("Черновик", "Отказано в утверждении","Доработка")%}
            <a href="/posts/{{ article.id }}/del" class="btn btn-danger">Удалить</a>
            <a href="/posts/{{ article.id }}/update" class="btn btn-success">Редактировать</a>
            <a href="/attachments/{{ article.id }}" class="btn btn-success">Управлять вложениями</a>
        {% endif %}
        {% if article.status in("Ожидание утверждения", "Черновик", "Отказано в утверждении","Доработка") %}
           <a href="/process/{{ article.id }}" class="btn btn-success">Отправить на согласование</a>
        {% endif %}
        {% if article.status in("Доработка") %}
            <a href="/toaccounting/{{ article.id }}" class="btn btn-success">Отправить в бухгалтерию</a>
        {% endif %}
  <br>
    </div>
  </div>

</div>
{% endblock %}