{% extends 'base.html' %}

{% block title %}
Обновление
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Обновление</h1>
    <form method="post">
        <label for="direction">Направление счета (Калуга/Химки):</label>
        <select id="direction" name="direction">
          <option value="Калуга">Volvo</option>
          <option value="Химки">Saab</option>
          <option value="fiat">Fiat</option>
          <option value="audi">Audi</option>
        </select>
        <input type="text" name="title" class="form-control" value="{{ article.title }}" placeholder="Введите название"><br>
        <textarea type="text" name="intro" id="intro" class="form-control" placeholder="Введите анонс">{{ article.intro }}</textarea><br>
        <textarea name="text" id="text" class="form-control" placeholder="Введите основной текст">{{ article.text }}</textarea><br>

        <input type="submit" class="btn btn-success" value="Отправить">
    </form>
</div>

{% endblock %}