{% extends 'base.html' %}

{% block title %}
PR {{ article.id }}
{% endblock %}

{% block body %}
<div class="container mt-5">
  <h1>{{ article.title }}</h1>

  <div class="alert alert-info">
    <p>Запрос:<b> {{ article.id }}</b>. Статус: <b>{{article.status}}</b>. Дата создания: {{ article.CreateDate }}.</p>
    Ответственный: {{ article.responsible }}<br>
    Направление счета: {{ article.direction }}<br>
    Компания плательщик: {{ article.payer }}<br>
    Вид оплаты: {{ article.paymenttype }}<br>
    <p>Номер заказа на закупку: {{ article.porderno }}<br>
    номер счета: {{ article.invoice }}<br>
    Дата счета {{ article.invdate }}<br>
    Сумма счета с НДС: {{ article.amount }} {{ article.currency }}<br>
    Отдел (центр затрат): {{ article.dept }}<br>
    Номер зарегистрированного контракта:  {{ article.contract }}<br>
    Поставщик: {{ article.inn }} {{ article.vendorname }}</br>
        Планируемая дата платежа: <i>{{ article.plandate }}</i></br>
        Фактическая дата платежа: <i>{{ article.paymentdate }}</i></br>
      Комментарий бухгалтера: <i>{{ article.acomment }}</i></br>
      Комментарий платежной группы: <i>{{ article.pcomment }}</i></br>
    <div>
    <fieldset class="card">
        <legend>Приложеные файлы</legend>
   <span class="files">
		{% for e in files %}
		<a href="/download/{{article.id}}/{{ e.filename }}">{{ e.filename }}</a><br>
		{% endfor %}
	</span>
    </fieldset>
    </div>
    <div>
        <span>
          {% set prstatus=namespace(value='0') %}
          <fieldset class="card">
            <legend>Запрошеные одобрения</legend>
            {% for e in tasks %}
            {% if e.taskstatus != 'Created' %}
                {% set prstatus.value ='1' %}
            {% endif %}{{ e.id }}
            {{e.CreateDate}} | {{ e.tasktype }} | {{ e.taskstatus }} | {{ e.assigneemail }} | {{ e.scomment }} | {{ e.acomment }}<br>
            {% endfor %}
          </fieldset>
	    </span>
    </div>
      <div class="form-group">
        <label for="trno">Номер проводки(документа)</label>
        <input type="text" class="for m-control" id="trno" name="trno" value="{{ article.trno }}" readonly   >
        <label for="trdate">Планируемая дата оплаты</label>
        <input type="date"  id="trdate" name="trdate" value="{{ article.trdate }}" readonly>
          Комментарий бухгалтера: <input type="text"  id="acomment" name="acomment" value="{{ article.acomment }}" readonly><br>
        </div>
        <br>
        <form class="form-inline" action="" method="post" enctype="multipart/form-data">
        <div>
        <label for="pcomment">Комментарий банковской группы</label>
        <input type="text" class="form-control" id="pcomment" name="pcomment"  value="{{ article.pcomment }}"    required>
        <label for="pdate">Дата оплаты</label>

        <input type="date"  id="pdate" name="pdate" value="{{ pdate }}" required>
            {%if article.status == 'Передано в оплату' %}
             <input type="submit" class="btn btn-success" name="action" value="Оплачено">
        {% endif %}

        </div>
        <div>
        <br>
            {%if article.status == 'Передано в оплату' %}
             <input type="submit" class="btn btn-warning" name="action" value="Отправить на доработку бухгалтеру">
             <input type="submit" class="btn btn-warning" name="action" value="Отправить на доработку инициатору">
             <input type="submit" class="btn btn-warning" name="action" value="Отправить на взаимозачет" disabled>
            {% endif %}
            {%if article.status == 'Оплачено' %}
             <input type="submit" class="btn btn-warning" name="action" value="Отменить оплату" >{% endif %}
            </div>
            </form>
  </div>
</div>

{% endblock %}