{% extends 'base.html' %}

{% block title %}
Редактирование
{% endblock %}

{% block body %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<div class="container mt-5">
<form action="" method="post" class="form-contact" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
{% for field in form if field.name not in ['csrf_token', 'submit', 'fi les'] -%}
		{% if field.name !='action' and field.label != 'Найти' %} <p>
			{% if field.name != 'preapproved' or (field.name == 'preapproved' and current_user.getRole() == 'accounting') %}
					{{ field.label() }}
			{% endif %}
		{% endif %}
		{% if field.label == 'Сохранить' %}!!!<br><br><p>{% endif %}
		{% if field.errors %}
			{{ field(class="invalid") }}
			<span class="invalid-feedback">
			{% for e in field.errors %}
				{{ e }}
			{% endfor %}
			</span>
		{% else %}
			{% if field.name != 'preapproved' or (field.name == 'preapproved' and current_user.getRole() == 'accounting') %}
				{{ field() }}
			{% endif %}
		{% endif %}
		{% if field.name == 'vendorname' %}</p><br>{% endif %}
		{% if field.name == 'action' %}</p>{% endif %}
		{% if field.label == 'Сохранить' %}</p>{% endif %}
{% endfor %}

        <br>
    <span class="files">
		{% for e in files %}
        <a href="/download/{{ e.prid }}/{{ e.filename }}">{{ e.filename }}</a>
		<a href="/delattach/{{ e.id }}/{{ e.prid }}" class="btn btn-warning">удалить</a>

		<br>
		{% endfor %}
	</span><br>

        <!--<p>{{ form.submit() }}--!>
    </form>
</div>
	{% endblock %}